#form-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    text-align: center;
    flex-direction: row;
}

#form-list li {
    cursor: pointer;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 2px #eee;

    width: calc(50% - 40px);
    margin: 10px;

    background: #f5f5f5;

}

#form-list li:hover {
    box-shadow: 0 4px 4px #ddd;
}

#form-list li .name {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

#form-list .selected {
    background: #e2e2e2;
}

#dashboard-page {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    flex-direction: column;
    width: 600px;
}

/* Selected form */

#selected-form {
    width: 70%;
    padding: 20px;
    background: #eee;
    border-radius: 4px;
    margin: 30px auto; /* Center the form horizontally */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

#selected-form .label {
    font-weight: bold;
}

